<div class="col-md-6">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput #message maxlength="256" placeholder="Message">
            <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
    </form>
    <br>
    <button type="button" class="btn btn-primary" (click)="newMessage(message.value)">Send</button>
</div>

<hr>

<div class="col-md-6">
    <div *ngFor="let message of this.signalRService.messages">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{message.id}}</mat-card-title>
                <mat-card-subtitle>{{message.date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{message.payload}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>